@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    font-family: 'Montserrat', sans-serif;
  }
}

.button_class{
  @apply uppercase text-sm py-2 px-8 hover:cursor-pointer bg-yellow-50 text-yellow-900 border-0 rounded-md transition-all duration-200 border-yellow-900 hover:text-yellow-900 hover:scale-105;
}

.card {
  @apply px-2 py-4 border-0 rounded-md shadow-md transition-all duration-100 
}
.section1 {
  background-image: url('/blackboard.png');
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  /* .section1 {
    height: 85vh;
  } */
}
@media (max-width: 768px) {
  .section1 {
    height: 66.3vh;  /* experimented property value here*/
  }
}
.border_bottom {
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 1.5rem;
  width: fit-content;
}